ons-page > .page__content > section {
  padding:8px;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.align-center {
  text-align: center
}

.padding-10 {
  padding: 10px;
}

.popover.popover--small .popover__content {
    width: auto;
    min-height: auto;
}

#display-amount, #cursor-placeholder {
  display: inline-block;
  font-size: 60px;
}

#cursor-placeholder {
  width: 1px;
}

#cursor-placeholder:focus {
  outline:none;
}

#display-cents, #currency-sign {
  font-size: 30px;
  vertical-align: top;
  line-height: 50px;
}

#amount-error {
  color: red;
}

#input-description, #select-installments {
  width: 100%;
}

.label-icon {
    width: 20px;
    height: 20px;
    margin: 2px 4px 2px 0px;
    background-image: url(./providers-icons.png);
}
.label-icon.MP {
  background-position-x: 0px;
}
.label-icon.PS {
  background-position-x: 20px;
}
