ons-page > .page__content > section {
  padding:8px;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

#display-amount, #cursor-placeholder {
  display: inline-block;
  font-size: 60px;
}

#cursor-placeholder {
  width: 1px;
}

#cursor-placeholder:focus {
  outline:none;
}

#display-cents, #currency-sign {
  font-size: 30px;
  vertical-align: top;
  line-height: 50px;
}

#amount-error {
  color: red;
}

#input-description, #select-installments {
  width: 100%;
}
